# Backend
venv/
backend/__pycache__/
backend/*.db
backend/server.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
